.sss{
    width: 400px;
    text-align: left;
    color: rgb(13, 118, 189);
    margin: 50px auto;
    font-weight: 500;
}

.ss{
    width: 400px;
    text-align: left;
    color: rgb(13, 118, 189);
    margin: 50px auto;
    font-weight: 500;
    margin-top: 150px;
}
